// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Raleway');

$fonts: (
  pFont: "Open Sans",
  sFont: "Raleway",
  tFont: "Trebuchet MS"
);

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

// Core ISM color palette (Blues)

// #1f397f - Dark Blue (Core color)
// #8baaff - Light Blue (use for highlights)
// #3f71ff - Vibrant Blue (use for actions)
// #46557f - Blue Gray (Core Color)
// #325bcc - Blue (Core Color)

// ISM Grays (Use for structure and depth)

// #3c3d3f - Mid Gray
// #797b7f - Core Gray
// #f3f7ff - White Gray
// #3d3e40 - Dark Gray
// #dbdee5 - Light Gray

// ISM Message, Alert and Button palette (Use white text over)

// #00b271 - Green (Success)
// #17bfe5 - Light Blue (workflow, secondary)
// #1f444c - Dark Blue/Green (workflow, primary)
// #bc342f - Red (error/warning, primary)
// #c61759 - Vibrant Red (error/warning, secondary)

// Colors
$colors: (
  pColor: #1f397f,
  sColor: #3c3d3f,
  tColor: #ffffff,
  highlight: #8baaff,
  action: #3f71ff,
  lGray: #dbdee5,
  mGray: #777,
  dGray: #3d3e40,
  1: #8baaff,
  2: #3f71ff,
  3: #46557f,
  4: #325bcc,
  5: #17bfe5
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;

// Small devices (landscape phones, 576px and up)
@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}
// Medium devices (tablets, 768px and up)
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}
// Large devices (desktops, 992px and up)
@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}
// Extra large devices (large desktops, 1200px and up)
@mixin extralarge {
  @media (min-width: #{$extralarge}) {
    @content;
  }
}